.return-to-previous-page-button {
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  top: 1%;
  left: 1%;
  outline: none;
  box-shadow: none;
}

.return-to-previous-page-button:hover {
  background-color: lightgrey !important;
}
