.number-input-container-style {
  height: 100%;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
/* u should send class specifying the height of the container based on where it is being used*/

.number-input-top-section-style {
  height: 60%;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.number-input-input-area-style {
  height: 100%;
  width: 70%;
  background-color: whitesmoke;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0%;

  padding: 0%;
  padding-left: 2%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: start;
  color: black;
  font-size: 0.9em;
  font-family: "Times New Roman", Times, serif;
}

.number-input-normal-border-style {
  border: 1px solid black;
  outline: none !important;
}

.number-input-normal-border-style :focus {
  border: 1px solid black;
  outline: none !important;
  caret-color: black;
}

.number-input-error-border-style {
  border: 1px solid red;
  outline: none !important;
}

.number-input-error-border-style:focus {
  border: 1px solid red;
  outline: none !important;
  caret-color: black;
}

.number-input-bottom-section-style {
  height: 30%;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: red;
  font-size: 0.75em;
  font-family: "Times New Roman", Times, serif;
}
